<launch>
    <arg name="namespace" default="verdino/voxel_grid_tracking"/>
    <arg name="env_name" default="verdino"/>
    <arg name="show_rviz" default="false"/>

    <arg name="input_topic" default="/$(arg namespace)/velodyne_points"/>
<!--     Debug output for rviz -->
    <arg name="do_publish_intermediate_info" value="false" />
    
    <arg name="voxel_tracking_params_file"
         default="$(find voxel_grid_tracking)/params/voxel_tracking_verdino_params.yaml"/>

    <group ns="$(arg namespace)">
        <!--         <node launch-prefix="gdb &#45;&#45;args" name="voxel_grid_tracking" pkg="voxel_grid_tracking" type="voxel_grid_tracking" output="screen" required="true" > -->
        <!--         <node launch-prefix="gdb -ex run &#45;&#45;args" name="voxel_grid_tracking" pkg="voxel_grid_tracking" type="voxel_grid_tracking" output="screen" required="true" > -->
        <node name="voxel_grid_tracking" pkg="voxel_grid_tracking" type="voxel_grid_tracking" output="screen" required="true" >
            <remap from="~/deltaTime"
                   to="/$(arg namespace)/stereo_and_odom/deltaTime" />
            <remap from="~/pointCloud"
                   to="/$(arg namespace)/obstaclesPointCloud" />
            <remap from="~/flow_vectors"
                   to="/$(arg namespace)/flow_vectors" />
            <remap from="~/left/camera_info"
                   to="/$(arg namespace)/stereo_and_odom/left/camera_info" />
            <remap from="~/right/camera_info"
                   to="/$(arg namespace)/stereo_and_odom/right/camera_info" />
            <remap from="~/dbg/image_rect_color"
                   to="/$(arg namespace)/stereo_and_odom/left/image_rect_color" />
            <remap from="~fakePointCloud"
                   to="/verdino/fakePointCloud" />
            
            <rosparam file="$(arg voxel_tracking_params_file)" command="load" ns="" />
            
            <param name="publish_intermediate_info" value="$(arg do_publish_intermediate_info)" />
        </node>
        
        <!-- PCL Manager -->
        <node pkg="nodelet" type="nodelet" name="box_filter_manager" args="manager" output="screen" respawn="true" />
        
        <node pkg="nodelet" type="nodelet" name="cam2footprint_pc_transform" 
              args="load pcl/PassThrough box_filter_manager" output="screen" required="true">
            <remap from="~input" to="$(arg input_topic)" />
            <remap from="~output" to="/$(arg namespace)/point_cloud_footprint" />
            <param name="filter_field_name" value="z" />
            <param name="filter_limit_min" value="-1000.0" />
            <param name="filter_limit_max" value="1000.0" />
            <param name="filter_limit_negative" value="false" />
            <param name="input_frame" value="velodyne" />
            <param name="output_frame" value="base_footprint" />
        </node>
        
        <!-- Run a passthrough filter to delimit in x direction -->
        <node pkg="nodelet" type="nodelet" name="psx" args="load pcl/PassThrough box_filter_manager" 
              output="screen" respawn="true">
            <remap from="~input" to="/$(arg namespace)/point_cloud_footprint" />
            <param name="filter_field_name" value="x" />
        </node>
        
        <!-- Run a passthrough filter to delimit in y direction -->
        <node pkg="nodelet" type="nodelet" name="psy" args="load pcl/PassThrough box_filter_manager" 
              output="screen" respawn="true">
            <remap from="~input" to="psx/output" />
            <param name="filter_field_name" value="y" />
        </node>
        
        <!-- Run a passthrough filter to delimit in z direction -->
        <node pkg="nodelet" type="nodelet" name="psz" args="load pcl/PassThrough box_filter_manager" 
              output="screen" respawn="true">
            <remap from="~input" to="psy/output" />
            <param name="filter_field_name" value="z" />
        </node>
        
        <rosparam file="$(find voxel_grid_tracking)/params/$(arg env_name).yaml" command="load" ns="" />
        
        <node pkg="nodelet" type="nodelet" name="footprint2map_pc_transform" 
              args="load pcl/PassThrough box_filter_manager" output="screen" respawn="true">
            <remap from="~input" to="/$(arg namespace)/psz/output" />
            <remap from="~output" to="/$(arg namespace)/obstaclesPointCloud" />
            
            <param name="approximate_sync" value="false" />
            <param name="max_queue_size" value="10" />
            
            <param name="filter_field_name" value="x" />
            <param name="filter_limit_min" value="-1000.0" />
            <param name="filter_limit_max" value="1000.0" />
            <param name="filter_limit_negative" value="false" />
            <param name="input_frame" value="base_footprint" />
            <param name="output_frame" value="odom" />
        </node>
    </group>
    
    <group if="$(arg show_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="false"  args="&#45;&#45;display-config 
            $(find voxel_grid_tracking)/config/VoxelGridTrackingVerdino.rviz"/>
    </group>
</launch>