<launch>
  <arg name="namespace" default="testGridTracking"/>
<!--   <param name="use_sim_time" value="true" /> -->

<!-- <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="0 0 0 0 0 0 left_cam_parent left_cam 100" /> -->
<!--     <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="0 0 0 0 0 0 map left_cam 100" /> -->
<node pkg="tf" type="static_transform_publisher" name="odom2baselink" args="0 0 0 0 0 0 odom base_link 100" />
<node pkg="tf" type="static_transform_publisher" name="baselink2leftcam" args="0 0 0 0 0 0 base_link left_cam 100" />
<!-- <node pkg="tf" type="static_transform_publisher" name="binarymap_tf" args="0 0 0 0 0 1.57079632679489661923 left_cam binary_map 100" /> -->

<group ns="$(arg namespace)">
<!--     <node launch-prefix="gdb -ex run &#45;&#45;args" name="stixels_publisher" pkg="voxel_grid_tracking" type="stixels_publisher" output="screen" required="true" > --> -->
<!--    <node name="stixels_publisher" pkg="voxel_grid_tracking" type="stixels_publisher" output="screen" required="true" >
        <remap from="~/pointCloudStixels" 
            to="/$(arg namespace)/polar_grid_tracking/pointCloudStereo" />
    </node>-->
<!--         <node launch-prefix="gdb -ex run &#45;&#45;args" name="stereo_and_odom" pkg="voxel_grid_tracking" type="stereo_and_odom" output="screen" required="true" > -->
<!--     <node name="stereo_and_odom" pkg="voxel_grid_tracking" type="stereo_and_odom" output="screen" required="true" > --> --> -->
<!--         <remap from="~/pointCloudStereo" -->
<!--                     to="/$(arg namespace)/polar_grid_tracking/pointCloudStereo" /> -->
<!--     </node>   -->
<!--     <node launch-prefix="gdb -ex run &#45;&#45;args" name="polar_grid_tracking" pkg="voxel_grid_tracking" type="polar_grid_tracking" output="screen" required="true" > -->
      <!--<node name="polar_grid_tracking" pkg="voxel_grid_tracking" type="polar_grid_tracking" output="screen" required="true" >
    </node>-->
    
</group>
        
<node pkg="rviz" type="rviz" name="rviz" required="false"  args="&#45;&#45;display-config 
      $(find voxel_grid_tracking)/config/polar_grid_tracking.rviz"/>
    
</launch>
