<launch>
  <arg name="namespace" default="testGridTracking"/>

<node pkg="tf" type="static_transform_publisher" name="odom2baselink" args="0 0 0 0 0 0 odom base_link 100" />
<node pkg="tf" type="static_transform_publisher" name="baselink2leftcam" args="0 0 0 0 0 0 base_link left_cam 100" />
        
<group ns="$(arg namespace)">
<!--         <node launch-prefix="gdb -ex run &#45;&#45;args" name="stereo_and_odom" pkg="PolarGridTracking" type="stereo_and_odom" output="screen" required="true" > -->
    <node name="stereo_and_odom" pkg="PolarGridTracking" type="stereo_and_odom" output="screen" required="true" >
        <remap from="~/pointCloudStereo"
                    to="/$(arg namespace)/PolarGridTracking/pointCloudStereo" />
    </node>   
    <node name="octomap" pkg="octomap_server" type="octomap_server_node" output="screen" required="true" >
        <remap from="cloud_in"
            to="/$(arg namespace)/PolarGridTracking/pointCloudStereo" />
    </node>   
<!--     <node launch-prefix="gdb -ex run &#45;&#45;args" name="PolarGridTracking" pkg="PolarGridTracking" type="PolarGridTracking" output="screen" required="true" > -->
<!--      <node name="PolarGridTracking" pkg="PolarGridTracking" type="PolarGridTracking" output="screen" required="true" > -->
<!--     </node>  -->
    
</group>
        
<node pkg="rviz" type="rviz" name="rviz" required="false"  args="&#45;&#45;display-config 
      $(find PolarGridTracking)/config/PolarGridTracking.rviz"/>
    
</launch>
