<launch>
    <arg name="namespace" default="verdino"/>
    <arg name="env_name" default="verdino"/>
    <arg name="show_rviz" default="true"/>
    
    <arg name="voxel_tracking_params_file"
         default="$(find voxel_grid_tracking)/params/voxel_tracking_verdino_params.yaml"/>

    <include file="$(find grull_verdino)/launch/navigation/parking_navigation.launch">
	<arg name="namespace"    value="verdino"/>
	<arg name="use_gps"      value="false"/>
	<arg name="use_filters"  value="true"/>
	<arg name="simulation"   value="false"/>
	<arg name="velodyne"     value="true"/>
	<arg name="show_rviz"    value="false"/>
	<arg name="show_rqt"     value="false"/>
	<arg name="show_console" value="false"/>
	<arg name="world_name"   value="$(find grull_gazebo_models)/worlds/parking_etsii.world"/>
	
	<!-- Params File Names -->
	<arg name="costmap_local"
	    value="$(find voxel_grid_tracking)/params/local_costmap_params_verdino.yaml"/>
    </include>
    
    <include file="$(find voxel_grid_tracking)/launch/launch.launch">
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="env_name" value="$(arg namespace)"/>
        <arg name="show_rviz" value="$(arg show_rviz)"/>
        <arg name="input_topic" value="/$(arg namespace)/velodyne_points"/>
	<arg name="voxel_tracking_params_file" value="/$(arg voxel_tracking_params_file)"/>
    </include>
</launch>